[submodule "software-renderer-demo"]
	path = software-renderer-demo
	url = https://github.com/JamesBMiddleton/software-renderer-demo
[submodule "MicrocontrollerANN"]
	path = MicrocontrollerANN
	url = https://github.com/JamesBMiddleton/MicrocontrollerANN
[submodule "rpi0w-yocto-llm"]
	path = rpi0w-yocto-llm
	url = git@github.com:JamesBMiddleton/rpi0w-yocto-llm.git
